/*adds styling to cards*/
.card {
    background: white;
    text-decoration: none;
    color: #444;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;


    /*transition to make move card on hover possible*/
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

/* adds visual cues when the card is hovered*/
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}




/*all text in product. make product description flex and fill space*/
.card article {
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    font-size: small;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* font formatting */
.card h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card p {
    flex: 1; /* make product descri grow to fill available space*/
    line-height: 1.4;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: rgba(230, 79, 71, 0.93);
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
    text-align: center;
}

.card .open {
    color: #00ccff;
}


/*product image styling*/
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

